*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body{
    text-align: center;
    background-color: rgb(250, 206, 213)
}

#header{
    margin: 2rem;
}

#container{
    margin: 1rem;
    padding: 2rem;
}

#inputTask{
    margin-left: 2.5rem;
    height: 1.8rem;
    width: 32rem;
    border: 2px solid black;
    border-radius: 8px;
    padding: 1rem 0.6rem;
    font-size: 1rem;
}

#inputBtn{
    padding: 0.7rem 0.6rem;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    background-color: palevioletred;
    color: white;
}

#todo-content{
    margin: 1rem;
    padding: 2rem;
}

.todo-text{
    font-size: 1.2rem;
}

.todoRemoveBtn{
    padding: 0.4rem 0.8rem;
    background-color: palevioletred;
    border: none;
    color: white;
    margin-left: 1.5rem;
    border-radius: 8px;
    cursor: pointer;
}

.todo-div{
    margin-left: 3rem;
    background-color: lightyellow;
    max-width: 500px;
    margin: 0 auto;
    padding: 0.4rem 0.8rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1.2rem;
    border-radius: 8px;
}

.todoTextInfo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 0.45rem;
}

.createdText{
    font-size: 0.9rem;
    color: gray;
}

.removedTask{
   animation: floatTowardsRight 2s ease forwards;
}

@keyframes floatTowardsRight {
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(100%);
    }
}