.card{
    background-color: pink;
    color: black;
    padding: 2rem;
    margin: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 300px;
    text-align: center;
}

#user-image{
    height: 200px;
    width: 200px;
    border-radius: 50%;
}